.main.Light {
  min-height: 100vh;
  background-color: white;
}

.Content {
  background-color: transparent;
}

.main.Dark {
  background-color: rgb(0, 3, 55);
  min-height: 100vh;
}

.main.Dark h3,
.main.Dark h1,
.main.Dark h2,
.main.Dark .Pro,
.main.Dark h3,
.main.Dark li,
.main.Dark legend,
.main.Dark h4,
.main.Dark h6,
.main.Dark h5,
.main.Dark td,
.main.Dark th,
.main.Dark .ListLangue li,
.main.Dark .ListProfil li,
.main.Dark p,
.main.Dark .fa-pen-to-square,
.main.Dark Label {
  color: white;
}
.main.Dark .close{
  color: gold;
}
.main.Dark .fa-trash{
  color:  whitesmoke !important;
}
.main.Dark .fa-trash:hover{
  color:  red !important;
}
.fa-pen-to-square:hover{
  transition: 0.2s;
  scale: 1.1;
  color: violet !important;
}
.main.Dark .ListLangue li,.main.Dark .ListProfil li{
  background-color: rgb(41, 0, 79);
}

.main.Dark .ListLangue,.main.Dark .ListProfil{
  border-top: 5px solid blueviolet;
}
.main.Light .ListLangue , .main.Light .ListProfil{
  border-top: 5px solid rgb(41, 0, 79);
}

.main.Light .ListLangue li,.main.Light .ListProfil li{
  background-color: whitesmoke;
}

.main.Dark .forgetPsW {
  background-color: rgb(52, 52, 52);
}
.main.Light h3,
/*.main.Dark input[type="text"]*/
.main.Light h1,
.main.Light .ListLangue li,
.main.Light .ListProfil li,
.main.Light h2,
.main.Light h6,
.main.Light li,
.main.Light legend,
.main.Light h5,
.main.Light .Pro,
.main.Light h3,
.main.Light h4,
.main.Light .fa-pen-to-square,
.main.Light p,
.main.Light Label {
  color: rgb(0, 0, 0);
}

.SUN.Dark {
  display: none;
}

.MOON {
  color: white;
}

.SUN {
  color: gold;
}

.MOON.Light {
  display: none;
}

.SUN.MOON {
  font-size: xx-large;
  transition: 0.6s;
}

.home {
  height: 60vh;
  align-items: center;
}

.love {
  animation: infinite oppLove ease-in-out 2s;
  font-size: 30px;
}

@keyframes oppLove {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}


/*header*/
.tete{
  animation:animHeader ease-in-out 1s;
  transition: 3s;
}


/* header only refrech */
@keyframes animHeader {
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0px);

  }
}

/*Annuler styling*/
.reinitialise {
  animation : none;
  animation-delay : 0;
  animation-direction : normal;
  animation-duration : 0;
  animation-fill-mode : none;
  animation-iteration-count : 1;
  animation-name : none;
  animation-play-state : running;
  animation-timing-function : ease;
  backface-visibility : visible;
  background : 0;
  background-attachment : scroll;
  background-clip : border-box;
  background-color : transparent;
  background-image : none;
  background-origin : padding-box;
  background-position : 0 0;
  background-position-x : 0;
  background-position-y : 0;
  background-repeat : repeat;
  background-size : auto auto;
  border : 0;
  border-style : none;
  border-width : medium;
  border-color : inherit;
  border-bottom : 0;
  border-bottom-color : inherit;
  border-bottom-left-radius : 0;
  border-bottom-right-radius : 0;
  border-bottom-style : none;
  border-bottom-width : medium;
  border-collapse : separate;
  border-image : none;
  border-left : 0;
  border-left-color : inherit;
  border-left-style : none;
  border-left-width : medium;
  border-radius : 0;
  border-right : 0;
  border-right-color : inherit;
  border-right-style : none;
  border-right-width : medium;
  border-spacing : 0;
  border-top : 0;
  border-top-color : inherit;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border-top-style : none;
  border-top-width : medium;
  bottom : auto;
  box-shadow : none;
  box-sizing : content-box;
  caption-side : top;
  clear : none;
  clip : auto;
  color : inherit;
  columns : auto;
  column-count : auto;
  column-fill : balance;
  column-gap : normal;
  column-rule : medium none currentColor;
  column-rule-color : currentColor;
  column-rule-style : none;
  column-rule-width : none;
  column-span : 1;
  column-width : auto;
  content : normal;
  counter-increment : none;
  counter-reset : none;
  cursor : auto;
  direction : ltr;
  display : inline;
  empty-cells : show;
  float : none;
  font : normal;
  font-family : inherit;
  font-size : medium;
  font-style : normal;
  font-variant : normal;
  font-weight : normal;
  height : auto;
  hyphens : none;
  left : auto;
  letter-spacing : normal;
  line-height : normal;
  list-style : none;
  list-style-image : none;
  list-style-position : outside;
  list-style-type : disc;
  margin : 0;
  margin-bottom : 0;
  margin-left : 0;
  margin-right : 0;
  margin-top : 0;
  max-height : none;
  max-width : none;
  min-height : 0;
  min-width : 0;
  opacity : 1;
  orphans : 0;
  outline : 0;
  outline-color : invert;
  outline-style : none;
  outline-width : medium;
  overflow : visible;
  overflow-x : visible;
  overflow-y : visible;
  padding : 0;
  padding-bottom : 0;
  padding-left : 0;
  padding-right : 0;
  padding-top : 0;
  page-break-after : auto;
  page-break-before : auto;
  page-break-inside : auto;
  perspective : none;
  perspective-origin : 50% 50%;
  position : static;
  /* Vous devrez modifier les quotes selon le langage de la page (ici il s'agit du Langage Français) */
  quotes : '201C' '201D' '2018' '2019';
  right : auto;
  tab-size : 8;
  table-layout : auto;
  text-align : inherit;
  text-align-last : auto;
  text-decoration : none;
  text-decoration-color : inherit;
  text-decoration-line : none;
  text-decoration-style : solid;
  text-indent : 0;
  text-shadow : none;
  text-transform : none;
  top : auto;
  transform : none;
  transform-style : flat;
  transition : none;
  transition-delay : 0s;
  transition-duration : 0s;
  transition-property : none;
  transition-timing-function : ease;
  unicode-bidi : normal;
  vertical-align : baseline;
  visibility : visible;
  white-space : normal;
  widows : 0;
  width : auto;
  word-spacing : normal;
  z-index : auto;
  }
  


/*Langue style*/
.Langue:hover .ListLangue,.Langue:hover .ListProfil{
  display: block;
}

.ListProfil{
  list-style: none;
  position: absolute;
  right: 30px;
  margin-top: 8px;
  display: none;
  transition: 0.6s;
  width: 140px;
  transition: 0.7s;
  height:fit-content;
  border-radius: 10px;
  z-index: 5;
  padding-left: 0px;
  
}
.ListLangue{
  list-style: none;
  position: absolute;
  margin-top: 8px;
  display: none;
  transition: 0.6s;
  width: 140px;
  transition: 0.7s;
  height:fit-content;
  border-radius: 10px;
  z-index: 5;
  padding-left: 0px;
  
}
.ListLangue li:hover,.ListProfil li:hover{
  font-size: 17px;
  font-weight: 500;
}
.ListLangue li,.ListProfil li{
  transition: 0.1s;
  text-align: start;
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ListLangue li:nth-child(2),.ListLangue li:nth-child(1) ,.ListProfil li:nth-child(2),.ListProfil li:nth-child(1) {
  border-bottom: 1px solid black;
}












