.ParentModal {
  background-color: rgba(0, 0, 0, 0.429);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.forgetPsW {
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  height: fit-content;
  width: 500px;
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border: 1px #777 solid;
  padding: 20px;
  display: flex;
  /* padding-top: 50px; */
  border-radius: 14px;
  position: fixed;
  animation: AnimateOpen ease-in-out 1s;
  transition: all 0.1s;
  overflow: auto;
}

/* forgetPasseword */

@keyframes AnimateOpen {
  0% {
    transform: translateY(0px) rotate(180deg);
    scale: 0;

  }

  50% {
    transform: translateY(-600px) rotate(250deg);
    scale: 0.4;
  }

  100% {
    transform: translateY(0px) rotate(360deg);
    scale: 1;
  }
}

@keyframes AnimateClose {
  0% {
    scale: 1;
  }

  25% {
    scale: 0.5;
  }

  75% {
    scale: 0.3;
  }

  100% {
    scale: 0;
  }
}

/* .ShowForm{
  Display:flex ;
  transition: all 0.7s;
  animation:AnimateOpen ease-in-out 1s;
} */

/*.HideForm{
  Display:flex ;
  transition: all 0.5s;
  scale: 0;
   animation:AnimateClose ease-in-out 1s; 
} */

.forgetPsW.dark {
  background-color: rgb(89, 83, 95);
}

.close {
  position: absolute;
  top: 8px;
  right: 15px;
  background-color: transparent;
  font-size: 20px;
}

.close:hover {
  color: orange;
  transform: rotate(-180deg);
  transition: 0.7s;
}

ul {
  list-style: circle;
  list-style-position: inside;
}

/*Alert*/
.AlertMere {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AlertMsg {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: fit-content;
  justify-content: center !important;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px 2px violet;
  padding: 10px;
  /* padding-top: 50px; */
  border-radius: 8px;
  top: 11px;
  position: fixed;
  overflow: auto;
}
.AlertMsg.Display{
  transition: 0.7s;
  animation: Display ease-in-out 0.5s;
}
.AlertMere.Display{
  display: flex;
}
.AlertMere.Hidden{
  display: none;
}
.AlertMsg.Hidden{
  transition: 0.7s;
  animation: Hidden ease-in-out 0.5s;
}
@keyframes Display {
  0% {
    transform: translateY(-40px)
  }
  50%{
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
@keyframes Hidden {
  0% {
    transform: translateY(0px)
  }
  50%{
    transform: translateY(10px)
  }
  100% {
    transform: translateY(-40px)
  }
}
